.App {
  text-align: center;
}

.crud-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(rgba(44, 218, 166, 0.6), #ab45);
}

.crud-container header {
  flex-shrink: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.crud-container main {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.crud-container footer {
  flex-shrink: 0;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

.action-bar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  gap: 6px;
}

.btn-add {
  background-color: #2cdaa6;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btn-add:hover {
  background-color: #24b88e;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(44, 218, 166, 0.4);
}